<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>

		<script src="<%=root%>/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="<%=root%>/bower_components/lodash/lodash.min.js"></script>
		<link rel="stylesheet" href="<%=root%>/bower_components/font-awesome/css/font-awesome.min.css">
		<link href="<%=root%>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="<%=root%>/bower_components/moment/min/moment.min.js"></script>
		<script src="<%=root%>/bower_components/angular/angular<%=!debugMode ? '.min' : ''%>.js"></script>
		<script src="<%=root%>/bower_components/highcharts/lib/highcharts.js"></script>
		<script src="<%=root%>/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
		<link href="<%=themeRoot%>/style.css" rel="stylesheet" type="text/css"/>
		<script src="<%=themeRoot%>/app.js"></script>
	</head>
	<body ng-app="app" ng-controller="conkieController">
		<div class="picture">
			<span class="picture-slot0">{{time.t24h}}</span>
			<span class="picture-slot1">{{system.hostname}}</span>
			<span class="picture-slot2"><h1>Temp</h1>{{temperature.main}}°C</span>
			<span class="picture-slot3"><h1>CPU</h1>{{cpu.usage}}%</span>
			<span class="picture-slot4"><h1>IOread</h1>{{io.totalRead}} Kb</span>
			<span class="picture-slot5"><h1>Mem</h1>{{memory.used | byteSize}}</span>
			<span class="picture-slot6"><h1>Down</h1>{{netTotal.downSpeed | byteSize}}</span>
		</div>
		<h1 class="text-rule">Power</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.battery"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{battery.levelPercent}}%</div>
				<div class="row">{{battery.charging ? battery.chargingTime : battery.dischargingTime | duration}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 text-left text-heading">Uptime</div>
			<div class="col-xs-9 text-right">{{system.uptime | duration}}</div>
		</div>

		<h1 class="text-rule">Network</h1>
		<div ng-repeat="adapter in net track by adapter.interface" class="group-spacing">
			<div class="row">
				<div class="col-xs-3 text-left text-heading">{{adapter.interface}}</div>
				<div class="col-xs-9 text-right">{{adapter.ipv4_address || adapter.ipv6_address}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-3 text-left text-heading">essid</div>
				<div class="col-xs-9 text-right">{{adapter.ssid}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-3 text-left text-heading">conn quality</div>
				<div class="col-xs-9 text-right">{{adapter.frequency}}Ghz / {{adapter.quality}}</div>
			</div>
			<div class="row">
				<div class="col-xs-9">
					<highchart config="charts[adapter.interface]"></highchart>
				</div>
				<div class="col-xs-3 text-right">
					<div class="row">{{adapter.upSpeed | byteSize}} Up</div>
					<div class="row">{{adapter.downSpeed | byteSize}} Dn</div>
				</div>
			</div>
		</div>

		<h1 class="text-rule">Memory</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.memory"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{memory.free | byteSize}} Free</div>
				<div class="row">{{memory.used | byteSize}} Used</div>
			</div>
		</div>

		<h1 class="text-rule">CPU</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.cpu"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{cpu.usage}}%</div>
				<div class="row">{{cpu.load[0] | number:2}} {{cpu.load[1] | number:2}} {{cpu.load[2] | number:2}}</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4 text-left text-heading"><h2>CPU Usage</h2></div>
				<div class="col-xs-4 text-center text-heading"><h2>CPU%</h2></div>
				<div class="col-xs-4 text-right text-heading"><h2>Mem%</h2></div>
			</div>
			<div ng-repeat="proc in topCpu track by proc.pid" class="row">
				<div class="col-xs-4 text-left">{{proc.name}}</div>
				<div class="col-xs-4 text-center">{{proc.cpuPercent}}%</div>
				<div class="col-xs-4 text-right">{{proc.memPercent}}%</div>
			</div>
		</div>

		<h1 class="text-rule">Disk I/O</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.io"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{io.totalRead}} Kb</div>
				<div class="row">{{io.totalWrite}} Kb</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4 text-left text-heading"><h2>IO Usage</h2></div>
				<div class="col-xs-4 text-center text-heading"><h2>Read Kb</h2></div>
				<div class="col-xs-4 text-right text-heading"><h2>Write Kb</h2></div>
			</div>
			<div ng-repeat="proc in topIo track by proc.pid" class="row">
				<div class="col-xs-4 text-left">{{proc.name}}</div>
				<div class="col-xs-4 text-center">{{proc.ioRead}}%</div>
				<div class="col-xs-4 text-right">{{proc.ioWrite}}%</div>
			</div>
		</div>

		<h1 class="text-rule">Sync</h1>
		<div class="row">
			<div class="col-xs-12">
				<div ng-repeat="line in dropbox" ng-bind="line"></div>
			</div>
		</div>
	</body>
</html>
