<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>

		<script src="<%=root%>/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="<%=root%>/bower_components/lodash/lodash.min.js"></script>
		<link rel="stylesheet" href="<%=root%>/bower_components/font-awesome/css/font-awesome.min.css">
		<link href="<%=root%>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="<%=root%>/bower_components/moment/min/moment.min.js"></script>
		<script src="<%=root%>/bower_components/angular/angular<%=!debugMode ? '.min' : ''%>.js"></script>
		<script src="<%=root%>/bower_components/highcharts/lib/highcharts.js"></script>
		<script src="<%=root%>/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
		<link href="<%=themeRoot%>/style.css" rel="stylesheet" type="text/css"/>
		<script src="<%=themeRoot%>/app.js"></script>
	</head>
	<body ng-app="app" ng-controller="conkerController">
		<div class="picture">
			<span class="picture-slot0">{{time.t24h}}</span>
			<span class="picture-slot1">{{system.hostname}}</span>
			<span class="picture-slot2"><h1>Temp</h1>{{system.temperature.main}}°C</span>
			<span class="picture-slot3"><h1>CPU</h1>{{system.cpuUsage}}%</span>
			<span class="picture-slot4"><h1>HDfree</h1>!DISK.USE</span>
			<span class="picture-slot5"><h1>RAM</h1>{{ram.used | byteSize}}</span>
			<span class="picture-slot6"><h1>Down</h1>!NET.DOWNSPEED</span>
		</div>
		<h1>Power</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.battery"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{battery.levelPercent}}%</div>
				<div class="row">{{battery.charging ? battery.chargingTime : battery.dischargingTime | duration}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 text-left text-heading">Power Profile</div>
			<div class="col-xs-9 text-right">!BAT-PROFILE</div>
		</div>
		<div class="row">
			<div class="col-xs-3 text-left text-heading">Uptime</div>
			<div class="col-xs-9 text-right">{{system.uptime | duration}}</div>
		</div>

		<h1>Network</h1>
		<div ng-repeat="adapter in net track by adapter.interface" class="group-spacing">
			<div class="row">
				<div class="col-xs-3 text-left text-heading">{{adapter.interface}}</div>
				<div class="col-xs-9 text-right">{{adapter.ipv4_address || adapter.ipv6_address}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-3 text-left text-heading">essid</div>
				<div class="col-xs-9 text-right">{{adapter.ssid}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-3 text-left text-heading">conn quality</div>
				<div class="col-xs-9 text-right">{{adapter.frequency}}Ghz / {{adapter.quality}}</div>
			</div>
			<div class="row">
				<div class="col-xs-9">
					<highchart config="charts[adapter.interface]"></highchart>
				</div>
				<div class="col-xs-3 text-right">
					<div class="row">{{adapter.upSpeed | byteSize}} Up</div>
					<div class="row">{{adapter.downSpeed | byteSize}} Dn</div>
				</div>
			</div>
		</div>

		<h1>RAM</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.ram"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{ram.free | byteSize}} Free</div>
				<div class="row">{{ram.used | byteSize}} Used</div>
			</div>
		</div>

		<h1>CPU</h1>
		<div class="row">
			<div class="col-xs-9">
				<highchart config="charts.cpu"></highchart>
			</div>
			<div class="col-xs-3 text-right">
				<div class="row">{{system.cpuUsage}}%</div>
				<div class="row">{{system.load[0] | number:2}} {{system.load[1] | number:2}} {{system.load[2] | number:2}}</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4 text-left text-heading"><h2>CPU Usage</h2></div>
				<div class="col-xs-4 text-center text-heading"><h2>CPU%</h2></div>
				<div class="col-xs-4 text-right text-heading"><h2>RAM%</h2></div>
			</div>
			<div class="row">
				<div class="col-xs-4 text-left">!PROC1</div>
				<div class="col-xs-4 text-center">!PROC1-CPU</div>
				<div class="col-xs-4 text-right">!PROC1-RAM</div>
			</div>
		</div>

		<h1>Disk I/O</h1>
		<div class="row">
			<div class="col-xs-9">!DISK-GRAPH</div>
			<div class="col-xs-3 text-right">
				<div class="row">!DISK-READ</div>
				<div class="row">!DISK-WRITE</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4 text-left text-heading"><h2>IO Usage</h2></div>
				<div class="col-xs-4 text-center text-heading"><h2>Read</h2></div>
				<div class="col-xs-4 text-right text-heading"><h2>Write</h2></div>
			</div>
			<div class="row">
				<div class="col-xs-4 text-left">!PROC1</div>
				<div class="col-xs-4 text-center">!PROC1-READ</div>
				<div class="col-xs-4 text-right">!PROC1-WRITE</div>
			</div>
		</div>

		<h1>Sync</h1>
		<div class="row">
			<div class="col-xs-12">
				<div ng-repeat="line in dropbox" ng-bind="line"></div>
			</div>
		</div>
	</body>
</html>
