<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>

		<link rel="stylesheet" href="<%=root%>/bower_components/font-awesome/css/font-awesome.min.css">
		<link href="<%=root%>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="<%=root%>/bower_components/moment/min/moment.min.js"></script>
		<script src="<%=root%>/bower_components/angular/angular<%=debugMode ? '.min' : ''%>.js"></script>
		<link href="<%=themeRoot%>/style.css" rel="stylesheet" type="text/css"/>
		<script src="<%=themeRoot%>/script.js"></script>
	</head>
	<body ng-app="app" ng-controller="conkerController">
		<div class="picture">
			<span class="picture-slot0">!TIME</span>
			<span class="picture-slot1">{{system.hostname}}</span>
			<span class="picture-slot2"><h1>Temp</h1>!SYSTEM.TEMP</span>
			<span class="picture-slot3"><h1>CPU</h1>{{system.cpuUsage}}%</span>
			<span class="picture-slot4"><h1>HDfree</h1>!DISK.USE</span>
			<span class="picture-slot5"><h1>RAM</h1>{{ram.used | byteSize}}</span>
			<span class="picture-slot6"><h1>Down</h1>!NET.DOWNSPEED</span>
		</div>
		<h1>Power</h1>
		<div class="row">
			<div class="col-xs-4">Battery</div>
			<div class="col-xs-4">{{battery.charging ? battery.chargingTime : battery.dischargingTime}}</div>
			<div class="col-xs-4">{{battery.levelPercent}}%</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Power Profile</div>
			<div class="col-xs-6">!BAT-PROFILE</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Uptime</div>
			<div class="col-xs-6">{{system.uptime | duration}}</div>
		</div>

		<h1>Network</h1>
		<div ng-repeat="interface in net track by interface.name">
			<div class="row">
				<div class="col-xs-6">{{interface.name}}</div>
				<div class="col-xs-6">{{interface.ip_address}}</div>
			</div>
			<div ng-if="interface.type == 'Wireless'" class="row">
				<div class="col-xs-6">essid</div>
				<div class="col-xs-6">!interface.essid</div>
			</div>
			<div class="row">
				<div class="col-xs-6">!WLAN-BANDWIDTH-GRAPH</div>
				<div class="col-xs-6">
					<div class="row">!WLAN-UP-SPEED</div>
					<div class="row">!WLAN-DOWN-SPEED</div>
				</div>
			</div>
		</div>

		<h1>RAM</h1>
		<div class="row">
			<div class="col-xs-6">!WLAN-RAM-GRAPH</div>
			<div class="col-xs-6">
				<div class="row">{{ram.free | byteSize}} Free</div>
				<div class="row">{{ram.used | byteSize}} Used</div>
			</div>
		</div>

		<h1>CPU</h1>
		<div class="row">
			<div class="col-xs-6">!CPU-GRAPH</div>
			<div class="col-xs-6">
				<div class="row">{{system.cpuUsage}}</div>
				<div class="row">{{system.load[0] | number:2}} {{system.load[1] | number:2}} {{system.load[2] | number:2}}</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4"><h2>CPU Usage</h2></div>
				<div class="col-xs-4"><h2>CPU%</h2></div>
				<div class="col-xs-4"><h2>RAM%</h2></div>
			</div>
			<div class="row">
				<div class="col-xs-4">!PROC1</div>
				<div class="col-xs-4">!PROC1-CPU</div>
				<div class="col-xs-4">!PROC1-RAM</div>
			</div>
		</div>

		<h1>Disk I/O</h1>
		<div class="row">
			<div class="col-xs-6">!DISK-GRAPH</div>
			<div class="col-xs-6">
				<div class="row">!DISK-READ</div>
				<div class="row">!DISK-WRITE</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-xs-4"><h2>IO Usage</h2></div>
				<div class="col-xs-4"><h2>Read</h2></div>
				<div class="col-xs-4"><h2>Write</h2></div>
			</div>
			<div class="row">
				<div class="col-xs-4">!PROC1</div>
				<div class="col-xs-4">!PROC1-READ</div>
				<div class="col-xs-4">!PROC1-WRITE</div>
			</div>
		</div>

		<h1>Sync</h1>
		<div class="row">
			<div class="col-xs-12">
				<div ng-repeat="line in dropbox" ng-bind="line"></div>
			</div>
		</div>
	</body>
</html>
