body {
	background: transparent;
	color: white;
	font-family: Zekton, Sans;
	font-size: 10px;
	margin: 0;
	overflow: hidden;
}

/* Headings {{{ */
h1, .text-heading {
	color: #00d9ff;
}

h1, h2 {
	font-size: 12px;
	margin: 10px 0 5px 0;
}

/* .text-rule - Horizontal line after each element {{{ */
.text-rule {
	position: relative;
}

.text-rule::after {
	content: "";
	margin-left: 5px;
	position: absolute;
	height: 5px;
	border-bottom: 2px solid white;
	top: 3px;
	width: 500px;
}
/* }}} */
/* }}} */

/* .group-spacing - if two occurances are next to each other add vertical spacing {{{ */
.group-spacing + .group-spacing {
	margin-top: 10px;
}
/* }}} */

/* Feature picture {{{ */
.picture {
	display: block;
	position: relative;
	background: url('file:///home/mc/.conky/chem-Glitch/lsd.png') no-repeat top left;
	background-size: 100%;
	width: 190px;
	height: 309px;
	margin: 8px auto 0;
}

.picture h1 {
	display: block;
	font-size: 14px;
	margin: 0;
}

.picture .picture-slot0 {
	position: absolute;
	left: -5px;
	top: 90px;
	font-size: 36px;
	font-weight: bold;
}

.picture .picture-slot1 {
	position: absolute;
	left: 135px;
	top: -7px;
	font-size: 15px;
	font-weight: bold;
	color: #00d9ff;
}

.picture .picture-slot2 {
	position: absolute;
	left: 33px;
	top: 28px;
	text-align: center;
	width: 60px;
	overflow: hidden;
}

.picture .picture-slot3 {
	position: absolute;
	left: 100px;
	top: 128px;
	text-align: center;
	width: 60px;
	overflow: hidden;
}

.picture .picture-slot4 {
	position: absolute;
	left: 4px;
	top: 180px;
	text-align: center;
	width: 60px;
	overflow: hidden;
}

.picture .picture-slot5 {
	position: absolute;
	left: 64px;
	top: 180px;
	text-align: center;
	width: 66px;
	overflow: hidden;
}

.picture .picture-slot6 {
	position: absolute;
	left: 29px;
	top: 228px;
	text-align: center;
	width: 66px;
	overflow: hidden;
}
/* }}} */

/* BUGFIX: Grid padding for Bootstrap {{{ */
.row {
	margin: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	padding: 0;
};
/* }}} */
