<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>

		<link rel="stylesheet" href="<%=paths.modules%>/font-awesome/css/font-awesome.min.css">
		<link href="<%=paths.modules%>/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="<%=paths.theme%>/style.css" rel="stylesheet" type="text/css"/>
		<script src="<%=paths.theme%>/app.js"></script>
		<script src="<%=paths.modules%>/highcharts-ng/dist/highcharts-ng.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="conkieController">
		<div class="picture">
			<span ng-show="time" class="picture-slot0">{{time}}</span>
			<span ng-show="stats.system.hostname" class="picture-slot1">{{stats.system.hostname}}</span>
			<span ng-show="stats.temperature.main" class="picture-slot2"><h1>Temp</h1>{{stats.temperature.main}}°C</span>
			<span ng-show="stats.cpu.usage" class="picture-slot3"><h1>CPU</h1>{{stats.cpu.usage}}%</span>
			<span ng-show="stats.io" class="picture-slot4"><h1>IOread</h1>{{stats.io.totalRead}} Kb</span>
			<span ng-show="stats.memory" class="picture-slot5"><h1>Mem</h1>{{stats.memory.used | byteSize:true}}</span>
			<span ng-show="stats.netTotal" class="picture-slot6"><h1>Down</h1>{{stats.netTotal.downSpeed | byteSize:true}}</span>
		</div>

		<div ng-if="stats.battery">
			<h1 class="text-rule">
				Power
				{{onBattery ? '(DECHARGING)' : ''}}
			</h1>
			<div class="row">
				<div class="col-xs-8">
					<highchart config="charts.battery"></highchart>
				</div>
				<div class="col-xs-4 text-right">
					<div class="row">{{stats.battery.percent | percent}}</div>
					<div class="row">{{(stats.battery.status == 'charging' ? stats.battery.remainingChargingTime : stats.battery.remainingTime) | duration}}</div>
				</div>
			</div>
			<div ng-if="stats.battery.status == 'charging' && stats.battery.percent < 100" class="row">
				<div class="col-xs-5 text-left text-heading">Battery banked</div>
				<div class="col-xs-7 text-right">{{stats.battery.remainingTime | duration}}</div>
			</div>
			<div class="row">
				<div class="col-xs-5 text-left text-heading">Uptime</div>
				<div class="col-xs-7 text-right">{{stats.system.uptime | duration}}</div>
			</div>
		</div>

		<div ng-if="stats.net" ng-repeat="adapter in stats.net track by adapter.interface" class="group-spacing">
			<h1 class="text-rule">Network / {{adapter.interface}}</h1>
			<div class="row">
				<div class="col-xs-4 text-left text-heading">Address</div>
				<div class="col-xs-8 text-right">{{adapter.ipv4_address || adapter.ipv6_address}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-4 text-left text-heading">SSID</div>
				<div class="col-xs-8 text-right">{{adapter.ssid}}</div>
			</div>
			<div ng-if="adapter.type == 'wireless'" class="row">
				<div class="col-xs-4 text-left text-heading">Freq / Quality</div>
				<div class="col-xs-8 text-right">{{adapter.frequency}}Ghz / {{adapter.quality}}</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<highchart config="charts[adapter.interface]"></highchart>
				</div>
				<div class="col-xs-4 text-right">
					<div class="row">{{adapter.upSpeed | byteSize:true}} Up</div>
					<div class="row">{{adapter.downSpeed | byteSize:true}} Dn</div>
				</div>
			</div>
		</div>

		<div ng-if="stats.memory">
			<h1 class="text-rule">Memory</h1>
			<div class="row">
				<div class="col-xs-8">
					<highchart config="charts.memory"></highchart>
				</div>
				<div class="col-xs-4 text-right">
					<div class="row">{{stats.memory.free | byteSize}} Fr</div>
					<div class="row">{{stats.memory.used | byteSize}} Us</div>
				</div>
			</div>
		</div>

		<div ng-if="stats.cpu">
			<h1 class="text-rule">CPU</h1>
			<div class="row">
				<div class="col-xs-8">
					<highchart config="charts.cpu"></highchart>
				</div>
				<div class="col-xs-4 text-right">
					<div class="row">{{stats.cpu.usage | percent}}</div>
					<div class="row">
						{{stats.cpu.load[0] | number:2}}
						/
						{{stats.cpu.load[1] | number:2}}
						/
						{{stats.cpu.load[2] | number:2}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="col-xs-4 text-left text-heading"><h2>CPU Usage</h2></div>
					<div class="col-xs-4 text-center text-heading"><h2>CPU%</h2></div>
					<div class="col-xs-4 text-right text-heading"><h2>Mem%</h2></div>
				</div>
				<div ng-repeat="id in [0, 1, 2]" class="row">
					<div class="col-xs-4 text-left">{{stats.topCPU[id].name || '---'}}</div>
					<div class="col-xs-4 text-center">{{stats.topCPU[id].cpuPercent | percent}}</div>
					<div class="col-xs-4 text-right">{{stats.topCPU[id].memPercent | percent}}</div>
				</div>
			</div>
		</div>

		<div ng-if="stats.io">
			<h1 class="text-rule">Disk I/O</h1>
			<div class="row">
				<div class="col-xs-8">
					<highchart config="charts.io"></highchart>
				</div>
				<div class="col-xs-4 text-right">
					<div class="row">{{stats.io.totalRead}} Kb</div>
					<div class="row">{{stats.io.totalWrite}} Kb</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="col-xs-4 text-left text-heading"><h2>IO Usage</h2></div>
					<div class="col-xs-4 text-center text-heading"><h2>Read Kb</h2></div>
					<div class="col-xs-4 text-right text-heading"><h2>Write Kb</h2></div>
				</div>
				<div ng-repeat="id in [0, 1, 2]" class="row">
					<div class="col-xs-4 text-left">{{stats.topIO[id].name || '---'}}</div>
					<div class="col-xs-4 text-center">{{stats.topIO[id].ioRead | byteSize}}</div>
					<div class="col-xs-4 text-right">{{stats.topIO[id].ioWrite | byteSize}}</div>
				</div>
			</div>
		</div>

		<div ng-if="stats.dropbox">
			<h1 class="text-rule">Sync</h1>
			<div class="row">
				<div class="col-xs-12">
					<div ng-repeat="line in stats.dropbox" ng-bind="line"></div>
				</div>
			</div>
		</div>
	</body>
</html>
